.landing-container {
  .categories {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 700;
    }

    .buttons {
      display: flex;
      padding: 50px 30px;

      a {
        color: black;
        text-decoration: none;

        .category {
          margin: 30px;
          text-align: center;
          cursor: pointer;

          i {
            font-size: 80px;
            transition: .5s all;

            &:hover {
              font-size: 90px;
              color: #F7F701;
            }
          }
          p {
            margin-top: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .featured {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 700;
    }
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px 30px;
    }
  }
}

@media (max-width: 1050px) {
  .landing-container {
    .categories {
      .buttons {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 835px) {
  .landing-container {
    .categories {
      border-bottom: 1px solid black;
      height: auto;
      .buttons {
        flex-wrap: nowrap;
        width: 100%;
        overflow-x:scroll;
        justify-content: flex-start;
        a {
          .category {
            i {
              font-size: 90px;
            }
          }
        }
      }
    }

    .featured {
      padding: 50px 0px;

      .items {
        padding: 50px 0px;
      }
    }
  }
}
@media (max-width: 450px) {
  .landing-container {
    .categories {
      .buttons {
        padding: 20px 10px;
      }
    }
  }
}
