.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sign-up-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    img {
      width: 90px;
    }
    p {
      margin: 0;

      a {
        color: black;
        text-decoration: none;
        padding: 5px 5px;
        border: 1px solid black;
        border-radius: 3px;
      }
    }
    #login {
      display: none;
      color: black;
      text-decoration: none;
      padding: 5px 5px;
      border: 1px solid black;
      border-radius: 3px;
    }
  }
  h3 {
    margin-top: 50px;
    text-align: center;
  }
  .sign-up-card {
    width: 800px;
    height: 700px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 250px;
    position: absolute;
    display: flex;
    z-index: 2;

    .advantages {
      width: 350px;
      height: 500px;
      margin-top: 50px;
      margin-left: 50px;

      .advantage {
        // width: 100%;
        .title {
          display: flex;

          i {
            font-size: 1.5rem;
          }

          h4 {
            margin-left: 13px;
          }
        }
      }
    }

    #new_user {
      width: 350px;
      height: auto;
      border: 1px solid black;
      border-radius: 5px;
      padding: 25px 25px;
      position: absolute;
      z-index: 3;
      background-color: white;
      margin-top: 20px;
      margin-left: 470px;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
      }

      #sign-up-btn {
        width: 100%;
        border: 3px solid black;
        border-radius: 5px;
        color: black;
        background-color: #f7f701;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 880px) {

  .sign-up-container {

    .sign-up-navbar {
      width: 100%;
      padding: 0 10px;
    }
    .sign-up-card {
      display: block;
      width: 90%;
      height: 90%;

      .advantages {
        width: 100%;
        margin: 0;
        padding: 30px 30px;
        height: 280px;
      }
      #new_user {
        margin: 0;
        width: 90%;
        margin-top: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

}

@media (max-width: 710px) {
  .sign-up-container {
    .sign-up-card {
      #new_user {
        margin-top: 70px;
        height: auto;
      }
    }
  }
}

@media (max-width: 590px) {
  .sign-up-container {
    .sign-up-card {
      #new_user {
        margin-top: 90px;
      }
    }
  }
}
@media (max-width: 525px) {
  .sign-up-container {
    .sign-up-card {
      #new_user {
        margin-top: 130px;
      }
    }
  }
}

@media (max-width: 450px) {
  .sign-up-container {
    .sign-up-card {
      #new_user {
        margin-top: 160px;
      }
    }
  }
}

@media (max-width: 400px) {
  .sign-up-container {
    .sign-up-navbar {
      p {
        display: none;
      }
      #login {
        display: flex;
      }
    }
    .sign-up-card {
      height: 120%;
      #new_user {
        margin-top: 280px;
        width: 97%;
      }
    }
  }
}
