<% @items.each do |item| %>
  <%= link_to item_path(item) do %>
    <div class="card">
      <div class="picture">

      </div>
      <div class="info">
        <div class="left">
          <h4><%= item.title %></h4>
          <p><%= item.user.city %></p>
        </div>
        <div class="right">
          <i class="far fa-heart" id="card-heart"></i>
        </div>
      </div>
  </div>
  <% end %>
<% end %>
