<div class="items-index-container">
  <div class="header">
    <p><%= @items.count %> results</p>
    <h2><%= params[:category] %></h2>
  </div>
  <div class="filters">
    <button>Filter search</button>
  </div>
  <div class="results">
    <%= render 'shared/big_card' %>
  </div>
</div>
