.navbar {
  width: 100vw;
  height: 70px;
  background-color: white;

  .brand {
    width: 90px;
    height: 100%;

    img {
      width: 90px;
    }
  }

  .search {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    form {
      width: 100%;
      #query {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #D4D4D2;

        &:hover {
          border: 1px solid black;
        }
      }
    }
  }

  .links {
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #upload-btn {
      text-decoration: none;
      color: black;
      border: 3px solid black;
      border-radius: 3px;
      padding: 5px 5px;
      background-color: #f7f701;
      font-weight: 700;
    }

    #chats-btn {
      color: black;
      text-decoration: none;
    }

    #user-btn {
      color: black;
      font-size: 25px;
      cursor: pointer;
    }
  }


  .burguer-menu {
    transition: all .5s ease-in-out;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;

    .lines {
      width: 25px;
      height: 2px;
      background-color: black;
      border-radius: 5px;
      transition: all .3s ease-in-out;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: black;
        border-radius: 5px;
        transition: all .3s ease-in-out;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }
  }

  .burguer-menu.open .lines {
    transform: translateX(-20px);
    background: transparent;
  }

  .burguer-menu.open .lines::before {
    transform: rotate(45deg) translate(10px, -10px);
  }

  .burguer-menu.open .lines::after {
    transform: rotate(-45deg) translate(10px, 10px);
  }
}

.navbar-dropdown {
  height: 100px;
  width: 230px;
  background-color: white;
  border: 1px solid #D4D4D2;
  position: absolute;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;

  a {
    text-decoration: none;
    .link {
      width: 100%;
      height: 33.3%;
      border-bottom: 1px solid #D4D4D2 !important;
      padding: 4px 10px;
      transition: .5s all;

      &:hover {
        padding: 4px 20px;
      }

      p {
        color: black;
        text-decoration: none;
      }
    }
  }
}

.navbar-dropdown-mobile {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .5s all;
  z-index: 1;

  .links {
    margin-top: 70px;
    width: 100%;

    a {
      text-decoration: none;
      .link {
        width: 100%;
        border-bottom: 1px solid #D4D4D2;
        text-align: center;
        p {
          font-size: 40px;
          color: black;
          font-weight: 200;
        }
      }
    }
  }
}

.opacity {
  opacity: 0;
}

@media (max-width: 1250px) {
  .navbar {
    .search {
      width: 60%;
    }
  }
}

@media (max-width: 900px) {
  .navbar {
    .search {
      width: 50%;
    }
  }
}

@media (max-width: 750px) {
  .navbar {
    .search {
      width: 40%;
    }
  }
}

@media (max-width: 750px) {
  .navbar {
    .search {
      width: 60%;
    }

    .links {
      display: none;
    }

    .burguer-menu {
      display: flex;
    }

  }
}

@media (max-width: 350px) {
  .navbar {
    .search {
      width: 48%;
    }

    .links {
      display: none;
    }

    .burguer-menu {
      display: flex;
    }

  }
}

